* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Cairo serif';
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff9f9;
}

.main .head {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  border-bottom: 4px solid #837e7e;
  padding-bottom: 50px;
}

.main .box {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f7daf5;
  box-shadow: 0px 0px 15px 1px #1d1c1c;
  border-radius: 5px;
}

.main .box .fun {
  position: relative;
  width: 100%;
  padding: 25px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  background-color: #fd3298f5;
  position: 2s ease;
  z-index: 100;
}

.main .box .fun:nth-of-type(1) {
  border-radius: 5px 5px 0 0;
}


.main .box .fun:nth-of-type(2) {
  border-radius: 0px;
}


.main .box .fun:nth-of-type(3) {
  border-radius: 0 0 5px 5px;
}

.main .box .fun::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #c70264;
  z-index: -1;
  transition: 2s ease;
}

.main .box .fun:hover::after {
  width: 100%;
}

.main .box .fun h1:active {
    font-size: 35px;
}

.main .box .fun:active::after {
  width: 100%;
}